@{
  Layout = null;
}

<!DOCTYPE html>
<html>
<head>
  <title>Thông Tin Dinh Dưỡng</title>
  <link rel="shortcut icon " href="~/Hinh/logo.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing+Script">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" type="text/css" href="~/Content/css/ThongTinDD.css" />
  <link rel="stylesheet" type="text/css" href="~/Content/css/TTbootstrap.css" />

</head>

<body>


  <section class="food_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Thông tin dinh dưỡng
        </h2>
      </div>

      <div class="filters-content">
        <div class="row grid">
          <div class="col-sm-6 col-lg-4">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="~/Hinh/MeO.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Me-O
                  </h5>
                  <p>
                    Me-O là thương hiệu thức ăn và đồ dùng cho mèo thuộc tập đoàn Perfect Companion Group (PCG) đến từ Thái Lan
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="~/Hinh/MininoYum.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Minino Yum
                  </h5>
                  <p>
                    Thương hiệu Minino Yum có nguồn gốc từ Mexico
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="~/Hinh/Whiskas.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Whiskas
                  </h5>
                  <p>
                    Thương hiệu Whiskas trước đây còn gọi là Kal Kan chuyên cung cấp các sản phẩm dinh dưỡng cho mèo, được phổ biến trên khắp thế giới, thuộc sở hữu tập đoàn Mỹ Mar Incorporated
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="~/Hinh/CatsEye.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Cat’s Eye
                  </h5>
                  <p>
                    Thương hiệu thức ăn Cat’s eye do tập đoàn CTCBio -Hàn Quốc sản xuất. Là tập đoàn hàng đầu trong lĩnh vực thức ăn cho thú cưng và thuốc thú y của Hàn Quốc
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="~/Hinh/RoyalCanin.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Royal Canin
                  </h5>
                  <p>
                    Royal Canin là thương hiệu thức ăn cho chó mèo đến từ Pháp được thành lập hơn 40 năm nay
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="~/Hinh/CatsRang.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    CatsRang
                  </h5>
                  <p>
                    Xuất xứ từ Hàn Quốc, thức ăn hạt cho mèo CatsRang được sản xuất bởi công ty Daejoo JSC. Với hơn 40 năm kể từ khi thành lập năm 1962
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="~/Hinh/PateWhiskas.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Pate Cho Mèo Whiskas
                  </h5>
                  <p>
                    Sản phẩm là sự tổng hợp chế độ dinh dưỡng đầy đủ và cân bằng cho mèo với nhiều hương vị như thịt gà, cá hồi, cá thu,.. Pate Whiskas bổ sung dưỡng chất đạm, vitamin và khoáng chất tốt cho hệ phát triển tối ưu, giúp bé có cơ thể khỏe mạnh, năng động và tràn đầy sức sống
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="~/Hinh/PateRoyalCanin.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Pate cho mèo Royal Canin
                  </h5>
                  <p>
                    Sản phẩm chứa các thành phần thiết yếu để bổ sung năng lượng. Bên cạnh đó còn giàu dinh dưỡng từ thịt, cá và chiết xuất protein từ thực vật; giúp tăng trọng lượng một cách khỏe mạnh và tăng cường hệ bài tiết cho mèo
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="~/Hinh/PateMeO.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Pate cho mèo Me-O
                  </h5>
                  <p>
                    Pate Me-o có dạng túi chứa thức ăn được xay nhuyễn giúp mèo dễ ăn và dễ tiêu hóa. Thành phần chính của sản phẩm là thịt cá hồi rất tốt cho sức khỏe và sự phát triển của mèo. Bên cạnh đó còn có dầu cá, taurine tốt cho mắt. Các vitamin và khoáng chất trong sản phẩm giữ cơ thể mèo luôn dẻo dai, chống lão hóa
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  @{
    var acc = Session["Taikhoan"] as TuVanKhamBenh.Models.UserAccount;
    Boolean admin = false;
    if (acc != null)
    {
      admin = (Boolean)@acc.Admin;
    }
  }
  @if (admin == true)
  {
    <p style=" text-align: center; font-size: 25px; padding-bottom: 100px;">
      @Html.ActionLink("Trở về", "TrangchuAdmin", "Admin")
    </p>
  }
  else
  {
    <p style=" text-align: center; font-size: 25px; padding-bottom: 100px;">
      @Html.ActionLink("Trở về", "Index", "Home")
    </p>
  }


</body>
</html>